[Desktop Entry]
Encoding=UTF-8
Version=0.8.1
Name=Xonotic
Exec=/app/bin/xonotic
Icon=/app/factorio/data/core/graphics/factorio.png
Type=Application
Categories=Game;

